# New Section

In [ ]:
print("hello sushital")

hello sushital

In [ ]:
print("greetings from sushital")
print("Good Afternoon")

greetings from sushital
Good Afternoon

In [ ]:
Print("Good Evening")

NameError: ignored

In [ ]:
"good afternoon sushital"

'good afternoon sushital'

In [ ]:
print("""good afternoon sushital""")

good afternoon sushital

In [ ]:
print("""good afternoon 
sushital""")

good afternoon
sushital

In [ ]:
print("""hello,
this is Sushital
from
India""")

hello,
this is Sushital
from
India

Comments

In [ ]:
#say hello to everyone
print("hello everyone")

hello everyone

Multi line comments

In [ ]:
#say Hello
#to everyone
print("hello everyone")

hello everyone

In [ ]:
print('hello, my name is "Sushital"')

hello, my name is "Sushital"

In [ ]:
name="sushital"
print(f'my name is {name}')

my name is sushital

In [ ]:
name="sushital"
print('my name is ' + name)

my name is sushital

Maths

In [ ]:
245 + 236 # sum of nums

481

In [ ]:
245 * 236 # multiplication of nums

57820

In [ ]:
245 / 24 # division of nums

10.208333333333334

In [ ]:
456**3 # power of 456 raised to 3

94818816

In [ ]:
456%3 #modulo operator which gives remainder

0

In [ ]:
786 % 2

0

In [ ]:
999 % 7

5

In [ ]:
456*23
print("Result")

Result

In [ ]:
print(456*23)
print("Result")

10488
Result

In [ ]:
print("456*23")
print("Result")

456*23
Result

In [ ]:
result=456*23
print(result)

10488

Variables

In [ ]:
a=10
b=20
c=a+b
print(c)

30

In [ ]:
print(a+b)

30

In [ ]:
print(a/b)

0.5

# Fundamental data types

integers

In [ ]:
a=7
type(a)

int

In [ ]:
b=99999
type(b)

int

floats - contains decimals

In [ ]:
pi=3.14
type(pi)

float

In [ ]:
x=2
y=2.5
type(x)
type(y)

float

In [ ]:
x=2
type(x)

int

In [ ]:
x=2
type(x)

y=2.5
type(y)

float

complex numbers

In [ ]:
a=3+4j
a

(3+4j)

In [ ]:
type(a)

complex

In [ ]:
a.real

3.0

In [ ]:
a.imag

4.0

dynamic typing

In [ ]:
x=2
print(type(x))

y=2.5
print(type(y))

<class 'int'>
<class 'float'>

In [ ]:
a=50
a=100
a="sushital"

print(a)

sushital

In [ ]:
a = 50 
print(type(a))
b = 100.20
print(type(b))
c = "sushital"
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
a = 50
print(type(a))
a = 100.20
print(type(a))
a = "sushital"
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

Strong Typing

In [ ]:
"day " + "1"

'day 1'

In [ ]:
"day " + 1

TypeError: ignored

In [ ]:
"22" + "22"

'2222'

In [ ]:
22+22

44

In [ ]:
print("Hi welcome to my jungle")

Hi welcome to my jungle

In [ ]:
jungle="amazon"
print(f"hi welcome to my {jungle} jungle")

hi welcome to my amazon jungle

In [ ]:
jungle="amazon"
print("hi welcome to my {jungle} jungle")

hi welcome to my {jungle} jungle

In [ ]:
jungle="amazon"
num="second"
print(f"hi welcome to my {num} {jungle} jungle")

hi welcome to my second amazon jungle

In [ ]:
a=50
b=70
c=a+b*a
print(f'the result of two nums a: {a} and b: {b} is {c}')

the result of two nums a: 50 and b: 70 is 3550

Boolean

In [ ]:
a=True
b=false #it should start with capital letter 

print(type(a))
print(type(b))

NameError: ignored

In [ ]:
a=True
b=False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [ ]:
my_office_starts_at=9:00
i_came_at=9:15
i_am_late=my_office_starts_at<i_came_at

SyntaxError: ignored

In [ ]:
my_office_starts_at=900
i_came_at=800
i_am_late=my_office_starts_at<i_came_at
i_am_late

False

In [ ]:
numA=5
numB=6
numA==numB

False

In [ ]:
numA=10
numB=100
numA==numB

False

In [ ]:
numA=10
numB=100
numA>numB

False

In [ ]:
numA=10
numB=100
numA<numB

True

if class started then let's concentrate else revise the previous class

In [ ]:
class_started = True
if class_started:
    print("let's concentrate")
else:
    print("let's revise the previous class")

let's concentrate

if class NOT started then let's revise the previous chapters else let's concentrate

In [ ]:
class_started = False
if not class_started:
    print("let's revise the previous chapter")
else:
    print("let's concentrate")

let's revise the previous chapter

In [ ]:
class_started = bool(input("hey fazil, is class started?: [Yes/No]"))
if class_started:
    print("let's concentrate")
else:
    print("let's revise the previous chapter")

hey fazil, is class started?: [Yes/No]No
let's concentrate

and - Conditional AND

In [ ]:
tea_leaves = True
milk = True
sugar = True

if tea_leaves and milk and sugar:
    print("tea was good")
else:
    print("tea was not good")
    print(f"missing ingredients tea_leaves: {tea_leaves}")
    print(f"missing ingredients milk: {milk}")
    print(f"missing ingredients sugar: {sugar}")

tea was good

In [ ]:
attendance = 60 
assignment = 45

print(f"attendance criteria met?: {attendance >=75}")
print(f"assignment criteria met?: {assignment >=70}")

if attendance >= 75 and assignment >= 70:
    print("Student is eligible for exam")
else:
    print("student is not eligible for exam")

attendance criteria met?: False
assignment criteria met?: False
student is not eligible for exam

or_Conditional OR

In [ ]:
car=False
bike=False

if car or bike:
    print("i can travel 100kms in a day")
else:
    print("I cannot travel without car or bike 100kms in a day")

I cannot travel without car or bike 100kms in a day

Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.

In [ ]:
number1=10

number3=number1*numnber2
number4=number1+number2

if number3 >= 1000:
    print("as the product value is equal to or lower than 1000 hence the result is: ")
    print(number3)
else:
    print("the product value is more than 1000 hence the result is: ")
    print(number4)

the product value is more than 1000 hence the result is:
30

In [ ]:
number1=80

number3=number1*number2
number4=number1+number2

if number3 >= 1000:
    print("as the product value is equal to or lower than 1000 hence the result is: ")
    print(number3)
else:
    print("the product value is more than 1000 hence the result is: ")
    print(number4)

as the product value is equal to or lower than 1000 hence the result is:
1600

taking input from user

In [ ]:
a=int(input("Enter the value of a: "))
b=int(input("Enter the value of b: "))
c=a+b
d=a*b

if d >=1000:
    print("as the product value is equal to or lower than 1000 hence the result is: ")
    print(c)
else:
    print("the product value is more than 1000 hence the result is: ")
    print(d)

Enter the value of a: 10
Enter the value of b: 20
the product value is more than 1000 hence the result is:
200

Equality Operators

Operator	| uses	| Meaning
is	A is B=>	return True if A and B points to the same object
is not	A is not B	returns True if A and B do not points to the same object
==	A == B	A is equal to B
!=	A != B	A is not equal to B

In [ ]:
Sushital = 1
Fazil = 1

if Sushital is Fazil:
    print("Sushital and Fazil is same")
else:
    print("Sushital and Fazil not same")

Sushital and Fazil is same

In [ ]:
Sushital = 1
Fazil = 2

if Sushital is Fazil:
    print("Sushital and Fazil is same")
else:
    print("Sushital and Fazil not same")

Sushital and Fazil not same

In [ ]:
Sushital = 1
Fazil = 1

if Sushital == Fazil:
    print("Sushital and Fazil is same")
else:
    print("Sushital and Fazil not same")

Sushital and Fazil is same

In [ ]:
Sushital = 1
Fazil = 2

if Sushital == Fazil:
    print("Sushital and Fazil is same")
else:
    print("Sushital and Fazil not same")

Sushital and Fazil not same

In [ ]:
Sushital = 1
Fazil = 1

if Sushital != Fazil:
    print("Sushital and Fazil not same")
else:
    print("Sushital and Fazil same")

Sushital and Fazil same

In [ ]:
A = "Sushital"
B = "Fazil"

A is B

False

In [ ]:
A = "Sushital"
B = "Sushital"

A is B

True

taking input from user

In [ ]:
A=int(input("Enter the value of A: "))
B=int(input("Enter the value of B: "))

A is B

Enter the value of A: 1
Enter the value of B: 1

True

In [ ]:
id(A)

11126688

In [ ]:
id(B)

11126688

In [ ]:
A=int(input("Enter the value of A: "))
B=int(input("Enter the value of B: "))

A is not B

Enter the value of A: 1
Enter the value of B: 2

True

In [ ]:
A=int(input("Enter the value of A: "))
B=int(input("Enter the value of B: "))

A is not B

Enter the value of A: 1
Enter the value of B: 1

False

In [ ]:
name=input("Enter your name: ")

if name != "Sushital":
    print(f"He might be a mentor")
else:
    print(f"he is a student")

Enter your name: Sushital
he is a student

In [ ]:
name=input("Enter your name: ")

if name == "Sushital":
    print(f"He is a student")
else:
    print(f"He might be a mentor")

Enter your name: Fazil
He might be a mentor

Comparision
Operation	Meaning
<	A < B
<=	A <= B
>	A > B
>=	A >= B

Write a program that asks the user to enter a number. You should print out a message to the user, either That number is divisible by either 3 or 5, or That number is not divisible by either 3 or 5. Be sure to consider the data type of the input you are taking in from the user. Use a single if/else block to solve this problem.

In [ ]:
a=int(input("Enter your number: "))
if a%3==0 or a%5==0:
  print("Number is divisible by either 3 or 5")
else:
  print("Number is not divisible by either 3 or 5")

Enter your number: 4
Number is not divisible by either 3 or 5

In [ ]:
3%5

3

Write a conditional statement (if else) which checks the first element in a list (index zero) and assign answer_1 to "Yes" if the first element is equal to "strawberry" else it should assign answer_1 to "No".

In [ ]:
First=["Mango", "Kiwi", "Melon", "Cherry"]
answer_1="Strawberry"

if answer_1==First:
    print("yes")
else:
    print("no")

no

In [ ]:
First=["Mango", "Kiwi", "Melon", "Cherry"]

if First[0]=="Strawberry":
    print("answer_1=Yes")
else:
    print("answer_1=No")

answer_1=No

In [ ]:
a=True
b=False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [ ]:
(not False) or (not True)

True

Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam

In [ ]:
spam=int(input())

if spam==1:
  print("hello")
elif spam==2:
  print("howdy")
else:
    print("greetings!")

1
hello

Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [ ]:
for a in range(1,11):
  print (a)

1
2
3
4
5
6
7
8
9
10

In [ ]:
a=1
while a <=10:
  print (a)
  a+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
a=int(input("a: "))

a: 1

In [ ]:
result=int(input("Enter the score: "))

if result >=75 and result <90:
  print(f"Your score is {result} hence you will get Participation Certificate")
elif result >=90 and result <100:
  print(f"Your score is {result} hence you have won a Cycle")
elif result >=100:
  print(f"Your score is {result} hence you have won a Bike")

else:
  print("better luck next time")

Enter the score: 45
better luck next time

In [ ]:
raidus=int(input("Enter the raidus of the circle: "))

3.14*raidus*raidus

Enter the raidus of the circle: 20

1256.0

In [ ]:
first_name=input("Enter your first_name: ")
last_name=input("Enter your last_name: ")

print(f"{last_name} {first_name}")

Enter your first_name: Sushital
Enter your last_name: Roy
Roy Sushital

In [ ]:
color_list = ["Red","Green","White" ,"Black"]
a=color_list[0]
b=color_list[3]
print(a,b)

Red Black

In [ ]:
exam_st_date = (11, 12, 2014)
print("The exam will start from : %i / %i / %i "%exam_st_date)

The exam will start from : 11 / 12 / 2014

In [ ]:
exam_st_date=("11, 12, 2014")
exam_st_date=exam_st_date.replace(", ", "/ ")
print(f"the exam will start from: {exam_st_date}")

the exam will start from: 11/ 12/ 2014

In [ ]:
n=int(input("Enter the value of n: "))
n=n+n*11+n*111
print(f"sum of n+nn+nnn is: {n}")

Enter the value of n: 5
sum of n+nn+nnn is: 615

Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "pynative" so you should display p, n, t, v.

In [ ]:
name=("pynative")
print(name)

name[: : 2]

pynative

'pntv'

Write a program to remove characters from a string starting from zero up to n and return a new string.

For example:

remove_chars("pynative", 4) so output must be tive. Here we need to remove first four characters from a string.
remove_chars("pynative", 2) so output must be native. Here we need to remove first two characters from a string.

In [ ]:
remove_chars=("pynative")
remove_chars[4::]

'tive'

In [ ]:
remove_chars=("pynative")
remove_chars[2::]

'native'

Write a program to find how many times substring Emma appears in the given string.
"Emma is good developer. Emma is a writer"

In [ ]:
name=("Emma is good developer. Emma is a writer")
count=name.count("Emma")
print(count)

2

Print the following pattern

In [ ]:
print("""
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5""")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

Write a program to check if the given number is a palindrome number.

A palindrome number is a number that is same after reverse. For example 545, is the palindrome numbers

The provided code stub reads two integers from STDIN,  and . Add code to print three lines where:

The first line contains the sum of the two numbers.
The second line contains the difference of the two numbers (first - second).
The third line contains the product of the two numbers.

In [ ]:
a=int(input("Enter the value the a: "))
b=int(input("Enter the value the a: "))

c=a+b
print(f"The sum of the two numbers is: {c}")

d=a-b
print(f"The difference of the two numbers is: {d}")

e=a*b
print(f"The product of the two numbers is: {e}")

Enter the value the a: 5
Enter the value the a: 3
The sum of the two numbers is: 8
The difference of the two numbers is: 2
The product of the two numbers is: 15

The provided code stub reads two integers,  and , from STDIN.

Add logic to print two lines. The first line should contain the result of integer division,  // . The second line should contain the result of float division,  / .

No rounding or formatting is necessary.

In [ ]:
a=int(input("Enter the value the a: "))
b=int(input("Enter the value the a: "))

c=a//b
print(f"The result of integer division is: {c}")

d=a/b
print(f"The result of float division is: {d}")

Enter the value the a: 3
Enter the value the a: 5
The result of integer division is: 0
The result of float division is: 0.6

How to print even numbers from 1 to 20?

In [ ]:
for i in range(0,20,2):
  print(i)

0
2
4
6
8
10
12
14
16
18

How to print odd numbers from 1 to 20?

In [ ]:
for i in range(0,20):
  if i %2:
    print(i)

1
3
5
7
9
11
13
15
17
19

Lists: 

Earlier, while discussing introduction to strings we have introduced the concept of a sequence in Python. In Python, Lists can be considered as the most general version of a "sequence". Unlike strings, they are mutable which means the elements inside a list can be changed!

Lists are constructed with brackets [ ] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [ ]:
A=[1,2,3,4,5.0, "Sushital", 1+2j, True, False] # A is acting like a container which stores all different data types
type(A)

list

In [ ]:
A=[1,2,3,4,5.0, "Sushital", 1+2j, True, False]
for element in A: # using for loop to print the elements in A
  print(element)

1
2
3
4
5.0
Sushital
(1+2j)
True
False

In [ ]:
for i in range(len(A)): # used range option to print the element
  print(A[i])

1
2
3
4
5.0
Sushital
(1+2j)
True
False

In [ ]:
for i in range(len(A)): # how to print value & datatype from a list 
  print(f"i={i}, value={A[i]}, datatype={type(A[i])}")

i=0, value=1, datatype=<class 'int'>
i=1, value=2, datatype=<class 'int'>
i=2, value=3, datatype=<class 'int'>
i=3, value=4, datatype=<class 'int'>
i=4, value=5.0, datatype=<class 'float'>
i=5, value=Sushital, datatype=<class 'str'>
i=6, value=(1+2j), datatype=<class 'complex'>
i=7, value=True, datatype=<class 'bool'>
i=8, value=False, datatype=<class 'bool'>

Indexing and Slicing

Indexing and slicing of lists works just like in Strings. Similar to string, list index starts at 0 and it can be sliced and concatenated and all operations. Let's make a new list to remind ourselves of how this works:

In [ ]:
A=[1,2,3,4,5.0, "Sushital", 1+2j, True, False] #here i am calling 1st 4 elements from the list 

A[0:4]

[1, 2, 3, 4]

In [ ]:
A[0:6:1] # here [0 is start : 6 is end : 1 is it will skip 1 element]

[1, 2, 3, 4, 5.0, 'Sushital']

In [ ]:
A[0::2] # here i am calling elements by skipping 1 digit

[1, 3, 5.0, (1+2j), False]

In [ ]:
A[::3] # this means whithout mentioning the start & end I can skip and print the elements

[1, 4, (1+2j)]

In [ ]:
for i in range(0,6,2): # used range function to call any elements from the list 
  print(i, A[i])

0 1
2 3
4 5.0

In [ ]:
A=[1,2,3,4,5.0, "Sushital", 1+2j, True, False] # print this list in reverse order
A[::-1] # reverse of the list by using - in the last portion

[False, True, (1+2j), 'Sushital', 5.0, 4, 3, 2, 1]

In [ ]:
A[::0] # slice step cannot be zero. It works only from -1

ValueError: ignored

In [ ]:
A=[1,2,3,4,5.0, "Sushital", 1+2j, True, False] #reverse order print by using start, end & steps
A[-2:0:-2]

[True, 'Sushital', 4, 2]

In [ ]:
for i in range(0,len(A)): # to print list of element by using length function
  print(i,A[i])

0 1
1 2
2 3
3 4
4 5.0
5 Sushital
6 (1+2j)
7 True
8 False

Updating list element at specific index

In [ ]:
A=[1,2,3,4,5.0, "Sushital", 1+2j, True, False] #here we can change the elements in the list. String to String

A[5]="Fazil" # mutable operation is allowed in python
print(A)

[1, 2, 3, 4, 5.0, 'Fazil', (1+2j), True, False]

In [ ]:
A[5]=999 # String to integer
print(A)

[1, 2, 3, 4, 5.0, 999, (1+2j), True, False]

In [ ]:
A[4]="Fazil" # integer to String
print(A)

[1, 2, 3, 4, 'Fazil', 999, (1+2j), True, False]

In [ ]:
A[4]=4.0 # string to float
print(A)

[1, 2, 3, 4, 4.0, 999, (1+2j), True, False]

Addition of two lists

In [ ]:
A=[1,2,3,4,5.0, "Sushital", 1+2j, True, False] # here we are adding two lists A+B
B=[98,45]

print(A+B)

[1, 2, 3, 4, 5.0, 'Sushital', (1+2j), True, False, 98, 45]

In [ ]:
A # when we add two lists it will not change the value of the elements. Element of A & B will remain same
B
print(A,
B)

[1, 2, 3, 4, 5.0, 'Sushital', (1+2j), True, False] [98, 45]

In [ ]:
A=A+B #here we are changing the elements of A by adding B into it. Now if we print it will change the value of A
print(A)

[1, 2, 3, 4, 5.0, 'Sushital', (1+2j), True, False, 98, 45]

Repition of List

In [ ]:
A=[1,2,3,4,5.0, "Sushital", 1+2j, True, False] # we can use multiplication method to double list but division & substraction is not possible
A*2

[1,
 2,
 3,
 4,
 5.0,
 'Sushital',
 (1+2j),
 True,
 False,
 1,
 2,
 3,
 4,
 5.0,
 'Sushital',
 (1+2j),
 True,
 False]

In [ ]:
A+A # even with addition we will double the list

[1,
 2,
 3,
 4,
 5.0,
 'Sushital',
 (1+2j),
 True,
 False,
 1,
 2,
 3,
 4,
 5.0,
 'Sushital',
 (1+2j),
 True,
 False]

Basic List Methods: 

If you are familiar with another programming language, start to draw parallels between lists in Python and arrays in other language. There are two reasons which tells why the lists in Python are more flexible than arrays in other programming language:

a. They have no fixed size (which means we need not to specify how big the list will be)

b. They have no fixed type constraint

Let's go ahead and explore some more special methods for lists:

len()

length of a list can be calculated using in built len()

In [ ]:
A=[1,2,3,4,5.0, "Sushital", 1+2j, True, False]
len(A) # with this funciton we can get the count or length of a list

9

How to take input from a user and print the list of items

In [ ]:
list_of_items=list() # using list() to take input from the user about the length of their list

N=int(input("Number of items to be purchased: "))
for i in range(N):
  user_input=input("Enter the items you want to purchase: ")
  list_of_items=list_of_items+[user_input]

print(list_of_items)
print(N)

Number of items to be purchased: 2
Enter the items you want to purchase: kite
Enter the items you want to purchase: thread
['kite', 'thread']
2

In [ ]:
list_of_items=list() # used while loop to take input & print list from user

N=int(input("No of items to be purchased: "))
i=0
while i<N: 
  user_input=input("Enter the items you want to purchase: ")
  list_of_items=list_of_items+[user_input]
  i=i+1

print(list_of_items)

No of items to be purchased: 2
Enter the items you want to purchase: kite
Enter the items you want to purchase: thread
['kite', 'thread']

Check membership in a list

In [ ]:
A=[1,2,3,4,5.0, "Sushital", 1+2j, True, False] # this is to call particular name or number from the list 
"Sushital" in A

True

In [ ]:
1+2j in A # even we can check for complex numbers

True

In [ ]:
"Fazil" in A

False

In [ ]:
A=[1,2,3,4,5.0, "Sushital", 1+2j, True, False] # using if else condition to check
if "Fazil" in A: 
  print("Yes it is available in the list")
else: 
  print("No its not available")

No its not available

In [ ]:
A=[1,2,3,4,5.0, "Sushital", 1+2j, True, False] # using if else condition to check
if "Fazil" in A: 
  print("Yes it is available in the list")
else: 
  print("No its not available hence adding to the list")
  A=A+["Fazil"] # using concatination condition to add Fazil in the list
  print(A)

No its not available hence adding to the list
[1, 2, 3, 4, 5.0, 'Sushital', (1+2j), True, False, 'Fazil']

In [ ]:
new_item=input("Items to add in the list: ")

if new_item not in A: 
  print("Not in the list, will add now")
else:
  print("Yes, its available")
  A=A+[new_item]

Items to add in the list: Fazil
Not in the list, will add now

In [ ]:
n=int(input("Enter your number: "))
for n in range(1,n+1):
  print(n,end="")

Enter your number: 3
123

Given an integer, , perform the following conditional actions:

If n  is odd, print Weird
If n is even and in the inclusive range of  to , print Not Weird
If n is even and in the inclusive range of  to , print Weird
If n is even and greater than , print Not Weird

In [ ]:
def is_leap(year):
  leap = False

  if year%400==0: 
      leap=True
  elif year%100==0:
      leap=False  
  elif year%4==0:
      leap=True

  return leap
    
year = int(input())
print(is_leap(year))

1994
False

In [ ]:
n = int(input())
#print(n)

if n in range(2,5) and n%2==0:
  print("not weird")
else:
  print("weird")

1
weird

# nesting of the list

In [ ]:
A = [[1,2,3], [11, 22, 33, [500, 502]], [45, [239, "Hiii"], 56, 77]]
A[2][1][1]

'Hiii'

In [ ]:
amazon_cart = [["watch", 5000], ["phone", 10000], ["laptop", 50000]] # print the total cost
amazon_cart=amazon_cart[0][1]+amazon_cart[1][1]+amazon_cart[2][1] # without using for loop
print(amazon_cart)

65000

In [ ]:
total_cost=0
amazon_cart = [["watch", 5000], ["phone", 10000], ["laptop", 50000]] # print the total cost
for items in range(len(amazon_cart)): # by using for loop
  print(amazon_cart[items][1])
  total_cost=total_cost+amazon_cart[items][1]
print(total_cost)

5000
10000
50000
65000

In [ ]:
total_cost=0

amazon_cart = [["watch", 5000], ["phone", 10000], ["laptop", 50000]] # print the total cost
for items in amazon_cart: # without using range function
  print(items[1])
  total_cost=total_cost+items[1]
print(total_cost)

5000
10000
50000
65000

## List Comprehension

In [ ]:
# list which contains list of square of nos between 1 to 10


A = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
A = [1,2,3,4,5,6,7,8,9,10] # to print power of numbers in list using append function
answer=list()

for element in A: 
  #print(element**2)
  answer.append(element**2)
print(answer)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
A = [1,2,3,4,5,6,7,8,9,10] # to print odd numbers from the list 
answer=list()

for element in A:
  if element%2 !=0:
    #print(element**2)
    answer.append(element**2)
print(answer)

[1, 9, 25, 49, 81]

In [ ]:
answer=[element**2 for element in A if element%2 !=0] #list comprehension.. by using all functions in single line
print(answer)

[1, 9, 25, 49, 81]

## Count

this helps to count the numbers & alphabets in a list.

In [ ]:
A=[1,1,2,2,3,3,3,4,4,5,6] # here we are counting number of 3 from the list

A.count(3)

3

In [ ]:
A=[1,1,[2,2],3,3,3,[4,4],5,6]

A.count([2,2])

1

In [ ]:
A=[1,1,2,2,3,3,3,4,4,5,6] # using for function to count numbers from a list
for i in A: 
   print(i, A.count(i))

1 2
1 2
2 2
2 2
3 3
3 3
3 3
4 2
4 2
5 1
6 1

In [ ]:
A="sushital"
for i in A:
  print(i, A.count(i))

s 2
u 1
s 2
h 1
i 1
t 1
a 1
l 1

## Extend

this function is used to add two list

In [ ]:
A=[1,2,3,4] # this function is to add two list together one after the another. 
B=[11,22,33,44]

A.extend (B) #permanent operation whereas adding list by + is not a permanent solution
print(A)

[1, 2, 3, 4, 11, 22, 33, 44]

In [ ]:
A=[1,2,3,4] # append function will create nested list after adding the 2nd list. 
B=[11,22,33,44]
   
A.append(B)
print(A)

[1, 2, 3, 4, [11, 22, 33, 44]]

## Index Method

In [ ]:
A = [11, 3, 4, 56+2j, "Sunny", 1+2j,75.1,80.10] # how to find index of numbers from a list

for i in A:
  if type(i)==complex:
    print(f"i: {i}, index: {A.index(i)}")

i: (56+2j), index: 3
i: (1+2j), index: 5

In [ ]:
A = [11, 3, 4, 56+2j, "Sunny", 1+2j,75.1,80.10] # using isinstance to find out the index 
for i in A:
  if isinstance(i,complex):
    print(f"i: {i}, index: {A.index(i)}")

i: (56+2j), index: 3
i: (1+2j), index: 5

In [ ]:
A = [11, 3, 4, 56+2j, "Sunny", 1+2j,75.1,80.10] # using or function we can find index of any two data types
for i in A: 
  if isinstance(i, complex) or isinstance(i, int):
    print(f"i: {i}, index: {A.index(i)}")

i: 11, index: 0
i: 3, index: 1
i: 4, index: 2
i: (56+2j), index: 3
i: Sunny, index: 4
i: (1+2j), index: 5

In [ ]:
A = [11, 3, 4, 56+2j, "Sunny", 1+2j,75.1,80.10] # printing index of two data types in single line 
for i in A: 
  if isinstance(i, (complex, int)):
    print(f"i: {i}, index: {A.index(i)}")

i: 11, index: 0
i: 3, index: 1
i: 4, index: 2
i: (56+2j), index: 3
i: (1+2j), index: 5

## Insert

to insert anything inside

In [ ]:
A = [11, 3, 4, 56+2j, "Sunny", 1+2j,75.1,80.10] # by using insert function we can insert any data type in the list

A.insert(2,"sushital")
A

[11, 3, 'sushital', 4, (56+2j), 'Sunny', (1+2j), 75.1, 80.1]

In [ ]:
A = [11, 3, 4, 56+2j, "Sunny", 1+2j,75.1,80.10] # insert number
A.insert(2,20) # A.insert(2- is the index, 20 is the insert element)
A

[11, 3, 20, 4, (56+2j), 'Sunny', (1+2j), 75.1, 80.1]

In [ ]:
A = [11, 3, 4, 56+2j, "Sunny", 1+2j,75.1,80.10] # insert list inside the list

A.insert(2, [1,2,3,4]) # A.insert(2- is the index, [1,2,3,4] is the insert list)
A

[11, 3, [1, 2, 3, 4], 4, (56+2j), 'Sunny', (1+2j), 75.1, 80.1]

## Remove

to remove anything from the list

In [ ]:
A = [11, 3, 4, 56+2j, "Sunny", 1+2j,75.1,80.10] # this function can remove any data type from the list 

A.remove(56+2j) # this removes the items and not by index like pop function
A

[11, 3, 4, 'Sunny', (1+2j), 75.1, 80.1]

In [ ]:
A = [11, 3, 4, 56+2j, "Sunny", 1+2j,75.1,80.10]
A.pop(3) # here we are removing items from the list by using index 
A

[11, 3, 4, 'Sunny', (1+2j), 75.1, 80.1]

## Tuples - () 
lists are used in [] brackets... 
tuples are inmuteable whereas lists are muteable

In [ ]:
A=(1,2,3,4) # numbers inside () is tuple in nature
type(A)

tuple

In [ ]:
A=("Sushital","Fazil", "Shaik") # string inside () is tuple in nature
type(A)

tuple

In [ ]:
A=(70.5,85.20,95.20) # float inside () is tuple in nature
type(A)

tuple

## Sets

unordered collection of unique elements

In [ ]:
A={11,26,3,3,32,4,48,5,60} # elements in {} are called as set
type(A)

set

In [ ]:
A={11,26,3,3,32,4,48,5,60} # this will print only the unique elements and that also in order
A

{3, 4, 5, 11, 26, 32, 48, 60}

# Function basic 1 - by Sudhanshu

to use same code again and again we have to create a function just like print or input

In [ ]:
# def is to be used to create a function 

def test(): 
  pass # pass is used when we dont want to continue a definition

In [ ]:
def test1():
  print("this is my first function in python")
test1() #call of function... by this way we call our function

this is my first function in python

In [ ]:
# how to store outcome of this function in variable

b=test1()

this is my first function in python

In [ ]:
type(b) # NoneType is a kind of datatype that will not be able to hold any variable as outcome

NoneType

In [ ]:
type(test1())

this is my first function in python

NoneType

In [ ]:
def test2():
  return 5

test2()

5

In [ ]:
d=test2()
d

5

In [ ]:
def test3():
  return 5

In [ ]:
def test4():
  print("this is my print return")

In [ ]:
test3()

5

In [ ]:
test4()

this is my print return

In [ ]:
e=test4()

this is my print return

In [ ]:
e+"sushi" #NoneType + String is not possible

TypeError: ignored

In [ ]:
def test5(): # by using return function we can add 
  return "Sushital"

test5() + "Roy"

'SushitalRoy'

In [ ]:
def test6():
  print("this is my python code")

In [ ]:
def test7(): # we can define multiple elements in return
  return 1,3,[3,4,5,"sush"],(3,4,5,6)

In [ ]:
test7()

(1, 3, [3, 4, 5, 'sush'], (3, 4, 5, 6))

In [ ]:
type(test7())

tuple

In [ ]:
test7()[1]

3

In [ ]:
test7()[2]

[3, 4, 5, 'sush']

In [ ]:
def test8(): 
  return 1,3,[3,4,5,"sush"],(3,4,5,6)

In [ ]:
a,b,c,d=test7() # storing of above list in separate variable

In [ ]:
a

1

In [ ]:
b

3

In [ ]:
c

[3, 4, 5, 'sush']

In [ ]:
d

(3, 4, 5, 6)

In [ ]:
def test9():
  a=4*5+8
  return a
test9()+8

36

In [ ]:
l=[2,3,4,5,6,7,8,9] # print sum of the list
a=0
for i in l: #conver this into a function
  a=i+a
print(a)

44

In [ ]:
def test10():
  l=[2,3,4,5,6,7,8,9] # print sum of the list
  a=0
  for i in l: 
    a=i+a
  return a

In [ ]:
test10()

44

In [ ]:
def test11():
  l=[2,3,4,5,6,7,8,9, "Sushital"]
  a=0
  for i in l:
    if type(i)==int:
      a=i+a
  return a

test11()

44

In [ ]:
l1=[4,5,6,7,7,8,"Kumar",4.56]

def test12(l):
  a=0
  for i in l:
    if type(i)==int:
      a=i+a
  return a

In [ ]:
test12(l1)

37

In [ ]:
def test13(a,b):
  return a+b

In [ ]:
test13(2,3)

5

In [ ]:
test13("Sushital", "Roy")

'SushitalRoy'

In [ ]:
l=[3,4,5,6,7,8,"sush",5,6,7,"roy","ineuron"]

In [ ]:
def test14(l): 
  
  l1=[]
  for i in l:
    if type(i)==str:
      l1.append(i)
  return l1

In [ ]:
l3=["Sushital", 3,4,5,6,"roy"]

In [ ]:
test14(l3)

['Sushital', 'roy']

#### Task
``` 
1. write a function which will try to find out len of a string using an inbuilt len function.

2. Write a function which will be able to print and index of list element, without using an index function. 

3. Write a function which will be able to print an ip address of your system. 

4. Write a function which will shut down your system.

5. Write a function which will take input as a list with any kind of numeric value and give out as a multiplication of all the numeric data l=[3.5,6.56,4,5,"sush","ineuron,'fsds bootcamp 2.0']

6. Write a function which will be able to read all the mails

7. Write a function which will be able to send a mail to anyone.

8. Write a function which will be able to read a doc file from your system

# Function Basic 2 - Practise Problem - Sudhanshu

```
1. write a function which will try to find out len of a string using an inbuilt len function.

In [ ]:
len("sushital")

8

In [ ]:
def test(s):
  count=0
  for i in s: 
    if type(i)==str:
      count=count+1
  return count

In [ ]:
test("sushitalroy")

11

```
2. Write a function which will be able to print and index of list element, without using an index function. 

```

In [ ]:
l=[1,2,3,4,"sushital","ineuron"]

In [ ]:
def test1(li):
  for i in range(0,len(li)):
    print(li[i], ": ",i)

In [ ]:
test1(l)

1 :  0
2 :  1
3 :  2
4 :  3
sushital :  4
ineuron :  5

In [ ]:
def test2(s):
  count=0
  for i in s: 
    #if type(i)==str:
      count=count+1
  return count

In [ ]:
def test1(li):
  for i in range(0,test2(li)):
    print(li[i], ": ",i)

In [ ]:
test1(l)

1 :  0
2 :  1
3 :  2
4 :  3
sushital :  4
ineuron :  5

```
3. Write a function which will be able to print an ip address of your system. 

```

In [ ]:
import socket # socket library to get IP address of any local system

def test3():
  ip=socket.gethostbyname(socket.gethostname())
  return ip

In [ ]:
test3()

'172.28.0.12'

```
4. Write a function which will shut down your system.
```

In [ ]:
import os
os.system("shutdown /r/t 5")

# /s - shutdown
# /r - restart
# /t 1 - timer

256

```

5. Write a function which will take input as a list with any kind of numeric value and give out as a multiplication of all the numeric data l=[3.5,6.56,4,5,"sush","ineuron,'fsds bootcamp 2.0']

```

In [ ]:
l=[3.5,6.56,4,5,"sush","ineuron",'fsds bootcamp 2.0']

def test4(l):
  mul=1
  for i in l:
    if type(i)==int or type(i)==float:
      mul=mul*i
  return mul

In [ ]:
test4(l)

459.19999999999993

```
6. Write a function which will be able to read all the mails
```

In [ ]:
import smtplib
import time
import imaplib
import email
import traceback

ORG_EMAIL = "@gmail.com" 
FROM_EMAIL = "sshtl.roy@gmail.com" + ORG_EMAIL 
FROM_PWD = "qixrijubkamflnuy" 
SMTP_SERVER = "imap.gmail.com" 
SMTP_PORT = 993
imaplib._MAXLINE=400000000

def read_email_from_gmail():
    try:
        mail = imaplib.IMAP4_SSL(SMTP_SERVER)
        mail.login(FROM_EMAIL,FROM_PWD)
        mail.select('inbox')

        data = mail.search(None, 'ALL')
        mail_ids = data[1]
        id_list = mail_ids[0].split()   
        first_email_id = int(id_list[0])
        latest_email_id = int(id_list[-1])

        for i in range(latest_email_id,first_email_id, -1):
            data = mail.fetch(str(i), '(RFC822)' )
            for response_part in data:
                arr = response_part[0]
                if isinstance(arr, tuple):
                    msg = email.message_from_string(str(arr[1],'utf-8'))
                    email_subject = msg['subject']
                    email_from = msg['from']
                    print('From : ' + email_from + '\n')
                    print('Subject : ' + email_subject + '\n')

    except Exception as e:
        traceback.print_exc() 
        print(str(e))

read_email_from_gmail()

b'Invalid username. a14mb235528895qkp'

Traceback (most recent call last):
  File "<ipython-input-43-9136711479b2>", line 17, in read_email_from_gmail
    mail.login(FROM_EMAIL,FROM_PWD)
  File "/usr/lib/python3.8/imaplib.py", line 603, in login
    raise self.error(dat[-1])
imaplib.IMAP4.error: b'Invalid username. a14mb235528895qkp'

```
7. Write a function which will be able to send a mail to anyone.
```

In [ ]:
import smtplib,ssl
port =465
smtp_server = "smtp.gmail.com"
sender_email="sshtl.roy@gmail.com"
receiver_email="mfazil@mcelroy.com"
password='qixrijubkamflnuy'
message="""this is my message from python code in my class"""


context=ssl.create_default_context()
with smtplib.SMTP_SSL(smtp_server,port,context=context) as server:
  server.login(sender_email,password)
  server.sendmail(sender_email,receiver_email,message)

```
8. Write a function which will be able to read a doc file from your system
```

In [ ]:
import docx2txt

ModuleNotFoundError: ignored

In [ ]:
pip install docx2txt # in this way we can install library

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting docx2txt
  Downloading docx2txt-0.8.tar.gz (2.8 kB)
Building wheels for collected packages: docx2txt
  Building wheel for docx2txt (setup.py) ... done
  Created wheel for docx2txt: filename=docx2txt-0.8-py3-none-any.whl size=3980 sha256=cb312367998229e035729794351e559f90dcef035c6dd496580a164e8ffac1e3
  Stored in directory: /root/.cache/pip/wheels/55/f0/2c/81637d42670985178b77df6d41b9b6c6dc18c94818447414b9
Successfully built docx2txt
Installing collected packages: docx2txt
Successfully installed docx2txt-0.8

In [ ]:
import docx2txt

docx2txt.process('testdocument.docx')

FileNotFoundError: ignored

# Function Basic 3 - by Sudhanshu

In [ ]:
def test1(): 
  a=5+6
  return a

In [ ]:
test1()

11

In [ ]:
def test2(a,b):
  return a+b

In [ ]:
test2(1,2)

3

In [ ]:
test2("sush","ital")

'sushital'

In [ ]:
test2(b="sushital", a="roy")

'roysushital'

In [ ]:
def test3(*args): #args=arguement, * means any number of inputs we can pass with this symbol
  return args

In [ ]:
test3(1,2,3,4,"Sush") #data type of args will be tuples

(1, 2, 3, 4, 'Sush')

In [ ]:
test3(1,2,3,4,5, "sush","ineuron",1+2j, (6,7,8))

(1, 2, 3, 4, 5, 'sush', 'ineuron', (1+2j), (6, 7, 8))

```
Create a function to take input for any number of input and should give return as a list

```

In [ ]:
def test4(*args):
  return list(args) # here we are doing type casting

In [ ]:
test4("sush",True, 1+2j,34,34.56)

['sush', True, (1+2j), 34, 34.56]

In [ ]:
def test5(*args):
  l=[]
  for i in args:
    l.append(i)
  return l

In [ ]:
test5("sush",True, 1+2j,34,34.56)

['sush', True, (1+2j), 34, 34.56]

In [ ]:
def test6(*sush): #we can use any word after *, args is not reserved keyword
  return test6

In [ ]:
test6("sush",True, 1+2j,34,34.56)

### Dictionary

In [ ]:
l=[1,2,3,4,5,6] #list
t=(4,5,6,8+7j) #tuples
s={3,4,5,6,6,6,6,6,6} #sets

In [ ]:
l

[1, 2, 3, 4, 5, 6]

In [ ]:
s

{3, 4, 5, 6}

In [ ]:
d={} #empty curly braces means it a dictionary
type(d)

dict

In [ ]:
d1={2,3,4,5}
type(d1)

set

In [ ]:
d2={"key1": "sush", "key2": [1,2,3,4]}

In [ ]:
d2

{'key1': 'sush', 'key2': [1, 2, 3, 4]}

In [ ]:
d3={1234: "sush"} #key can be string or integers
d3

{1234: 'sush'}

In [ ]:
d4={$: "sush"} #special characters cannot be used
d4

SyntaxError: ignored

In [ ]:
d5={[1,2,3,4]: "sush"} #list cannot be used as key
d5

TypeError: ignored

In [ ]:
d6={(1,2,3,4): "sush"} #tuples can be used as key as tuples is immutable
d6

{(1, 2, 3, 4): 'sush'}

In [ ]:
d7={"name": "sushital", "org": "mcelroy","mail id": "sroy@mcelroy.com","name": "sush"} 
d7 #in case same key name, it will take the latest key name so key name cannot be duplicate

{'name': 'sush', 'org': 'mcelroy', 'mail id': 'sroy@mcelroy.com'}

In [ ]:
d8={"name":"sush","student": {"fsds": "sushital","fsda":"fazil","bigdata":"shaik"}}
d8

{'name': 'sush',
 'student': {'fsds': 'sushital', 'fsda': 'fazil', 'bigdata': 'shaik'}}

In [ ]:
d7

{'name': 'sush', 'org': 'mcelroy', 'mail id': 'sroy@mcelroy.com'}

In [ ]:
d7['mail id'] #this way we can call the key from the dictioinary

'sroy@mcelroy.com'

In [ ]:
d8['student']['bigdata'] #this way we can call dictionary from inside a dictionary

'shaik'

In [ ]:
d7

{'name': 'sush', 'org': 'mcelroy', 'mail id': 'sroy@mcelroy.com'}

In [ ]:
d7.keys() # this way we can call the keys from the dictionary

dict_keys(['name', 'org', 'mail id'])

In [ ]:
list(d7.keys()) #this way we can change the keys to list

['name', 'org', 'mail id']

In [ ]:
d7.values() #this way we can get the values of the keys

dict_values(['sush', 'mcelroy', 'sroy@mcelroy.com'])

In [ ]:
d7.items() # key value pair

dict_items([('name', 'sush'), ('org', 'mcelroy'), ('mail id', 'sroy@mcelroy.com')])

In [ ]:
d8

{'name': 'sush',
 'student': {'fsds': 'sushital', 'fsda': 'fazil', 'bigdata': 'shaik'}}

In [ ]:
list(d8['student'].values())

['sushital', 'fazil', 'shaik']

In [ ]:
l=[]
for i in d8.keys():
  if type(d8[i])==dict:
    l.append (list(d8[i].values()))

l

[['sushital', 'fazil', 'shaik']]

In [ ]:
d9={"name":"sush","student": {"fsds": "sushital","fsda":"fazil","bigdata":"shaik"},"mail id": {"sushital": "sroy@mcelroy.com", "fazil": "mfazil@mcelroy.com","shaik": "mshaik@mcelroy.com"}}

In [ ]:
d9

{'name': 'sush',
 'student': {'fsds': 'sushital', 'fsda': 'fazil', 'bigdata': 'shaik'},
 'mail id': {'sushital': 'sroy@mcelroy.com',
  'fazil': 'mfazil@mcelroy.com',
  'shaik': 'mshaik@mcelroy.com'}}

In [ ]:
l=[]
for i in d9.keys():
  if type(d9[i])==dict:
    l.append (list(d9[i].values()))

In [ ]:
l

[['sushital', 'fazil', 'shaik'],
 ['sroy@mcelroy.com', 'mfazil@mcelroy.com', 'mshaik@mcelroy.com']]

In [ ]:
def test9(d):
  l=[]
  for i in d9.keys():
     if type(d9[i])==dict:
       l.append (list(d9[i].values()))
  return l

In [ ]:
test9(d8)

[['sushital', 'fazil', 'shaik'],
 ['sroy@mcelroy.com', 'mfazil@mcelroy.com', 'mshaik@mcelroy.com']]

In [ ]:
test9(d9)

[['sushital', 'fazil', 'shaik'],
 ['sroy@mcelroy.com', 'mfazil@mcelroy.com', 'mshaik@mcelroy.com']]

In [ ]:
d8["mobilenumber"]=(7259111861)
d8

{'name': 'sush',
 'student': {'fsds': 'sushital', 'fsda': 'fazil', 'bigdata': 'shaik'},
 'mobilenumber': 7259111861}

In [ ]:
d8["name"]="sushital roy"
d8

{'name': 'sushital roy',
 'student': {'fsds': 'sushital', 'fsda': 'fazil', 'bigdata': 'shaik'},
 'mobilenumber': 7259111861}

In [ ]:
d7

{'name': 'sush', 'org': 'mcelroy', 'mail id': 'sroy@mcelroy.com'}

In [ ]:
del d7

In [ ]:
d7

NameError: ignored

In [ ]:
d8

{'name': 'sushital roy',
 'student': {'fsds': 'sushital', 'fsda': 'fazil', 'bigdata': 'shaik'},
 'mobilenumber': 7259111861}

In [ ]:
d8

{'mobilenumber': 7259111861}

In [ ]:
d8["name"]="sushital"
d8

{'mobilenumber': 7259111861,
 'name': 'sushital',
 ('name', 'email id'): ('sushital', 'sroy@mcelroy.com')}

## Function - example

``` 
input as a variable name 

```

In [ ]:
def test10(**kwargs): #kwargs will be variable with value, Key value pair
  return kwargs

In [ ]:
test10(a=4, b=5,c=6,sush=[1,2,3,4]) #result will be dictionary

{'a': 4, 'b': 5, 'c': 6, 'sush': [1, 2, 3, 4]}

In [ ]:
def test11(**sush):
  return sush

In [ ]:
test11(b=234, m=123)

{'b': 234, 'm': 123}

## Function inside a Function

In [ ]:
def test12(a):
  return a

def test13(b):
  return b
  
def test14(func):
  return func("sush")

In [ ]:
test14(test12)

'sush'

In [ ]:
test14(test13)

'sush'

In [ ]:
def test12(a):
  return a

def test13(*args): #with *args we can call any input
  return "sush"
  
def test14(func):
  return func("sush")

In [ ]:
test14(test12)

'sush'

In [ ]:
test14(test13)

'sush'

In [ ]:
def test15(a): 
  print("this is my test15")

  def test16():
    print("this is my test16")
  
  def test17():
    print("this is my test17")

  if a=="sush":
    return test16()
  elif a=="roy":
    return test17()

In [ ]:
test15("roy")

this is my test15
this is my test17

In [ ]:
test15("sush")

this is my test15
this is my test16

In [ ]:
def test13(*args):
  print("this is a return of test13")

In [ ]:
def test18(func): 
  def test19():
    print("i am inside test19")
    func()
  return test19()

In [ ]:
test18(test13)

i am inside test19
this is a return of test13

## Decorator

In [ ]:
import os
def test18(func): 
  def test19():
    print("i am inside test19 and this will behave a decorator to any function that i am going to call")
    print(os.getcwd())
    func()
  return test19

In [ ]:
@test18
def test20():
  print("this is my test20")
test20()

i am inside test19 and this will behave a decorator to any function that i am going to call
/content
this is my test20

In [ ]:
test18(test20)

i am inside test19 and this will behave a decorator to any function that i am going to call
this is my test20

In [ ]:
def test20(func):
  def test21():
    func()
    print(os.getcwd())
  return test21

In [ ]:
@test20 #this way we have to use decorator
@test18
def test22():
  print("this will print inside test22")

In [ ]:
test22()

i am inside test19 and this will behave a decorator to any function that i am going to call
/content
this will print inside test22
/content

In [ ]:
import time

start=time.time()
print("hello")
end=time.time()
print(end - start)

hello
0.002326488494873047

In [ ]:
def test25(func):
  def test26():
    print("this will give you execution time of a function")
    start=time.time()
    func()
    end=time.time()
    print(end-start)
  return test26

In [ ]:
@test25
def test27():
  """
  this is function which will take a decorator for calculation a execution timing of a function
  """
  l=[4,5,6,7,8,8]
  l1=[]
  for i in l: 
    if type(i)==int:
      l1.append(i)
  return l1

In [ ]:
test27()

this will give you execution time of a function
5.245208740234375e-06